<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>自我介紹</title>
</head>
<body background="static/55.jpg">
<div class="jumbotron text-center"> 
&nbsp;&nbsp;&nbsp;&nbsp;<b><font face = "DFKai-SB"><h1><font size = "8"> <CENTER>  <font color = "#CC66FF">自</font><font color = "#CC66CC">我</font><font color = "#CC6699">介</font><font color = "#CC6666">紹</font></p></h1></font></CENTER></font></b>
</div>
</body>
 <div><br>
<p align="Center"><img src="static/wo.jpg" width="50%" height="50%"></p>
        <h1>
        	<font size = "6"><font face = "DFKai-SB"><font color = "#CC6699">  
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我叫黃素清，來自泰國。今年22歲了，我是家裡最小的。我家住在清邁,清邁是泰國的第二大城市。我家裡有養一隻貓跟一隻狗。朋友都我是一個非常善良，大方和優秀的人。我到台灣留學是因為有一個夢想，是想在台灣創業。我個人是一個有忍耐力、創意力，而不斷的學習新的東西。
        	</font></font>
        </h1>
        

</html>