<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>我的興趣</title>
</head>
<body background="static/2.jpg" width="100%">


<div class="jumbotron text-center"> 
&nbsp;&nbsp;&nbsp;&nbsp;<b><font face = "DFKai-SB"><font size = "8"> <CENTER> <font color = "#CCFF66">我</font><font color = "#CCFF33">的</font><font color = "#CCFF00">興</font><font color = "#FFD700">趣</font></h1></font></CENTER>
</b>
</div>

</body>
 <div><br>&nbsp;&nbsp;
<br><p align="Left"><img src="static/yinyue.jpg" width="30%" height="30%"></p> <p align="Center"><img src="static/laoren.jpg "width="35%" height="20%"></p>
        <h1>
          <font face = "DFKai-SB">  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size = "6"> <font color = "maroon">  
      我喜歡彈吉他跟唱歌。因為我覺得，音樂會讓人變年輕、放鬆與快樂。去年我有機會到老人院當志工，表演音樂給老人聽，我覺得我的音樂一定會讓他們也很開心。這就讓我很喜歡服務，我覺得賣東西或做服務業也是一樣。因為我們就要想，怎麼去服務客人，讓客人喜歡與滿意我們服務，這是很重要的。我覺得我有這個資格，而且我相信客人一定會開心如果能得到我的服務。</font></font> 
    </h1>

 <div>
 
</html>