<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> <font face = "DFKai-SB"><title>mis</title></font>
</head>
<body background="static/1.jpg">


</style>
 <div class="jumbotron text-center">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font face = "DFKai-SB"><h1>主頁</h1></font>
  <font face = "DFKai-SB"><p><a href="/">主頁</a></p></font> 


</body>
</html>