<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>職業</title>
</head>
<body background="static/33.jpg">

<div class="jumbotron text-center">
&nbsp;&nbsp;&nbsp;&nbsp;<b><font face = "DFKai-SB"><font size = "8"><CENTER> <font color = "#66CCCC">職</font><font color = "#32CD32">業</font><h1></font></font></CENTER></b>
</div>

</body>
 <div><br><p align="Center" ><img src="static/gongsi.png "width="30%"height="30%">
        <h1>
          <font face = "DFKai-SB"> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size = "5"> <font color = "#990033"> 
      公司介紹：這家公司是「古典玫瑰源」是由台灣最大的下午茶體系古典玫瑰園集團以，英式風格並融合了東方茶文化，在茶飲市場上獨樹一格。「先喝道」的經營核心理念是「堅持做好每一杯茶，杯杯都是好茶」，並以「精緻品味、最高品質、國民價」為核心營運策略。</font>
<br>&nbsp;&nbsp;
<br>&nbsp;&nbsp;&nbsp;<b><font color = "#663333"> 工作內容</b>
<br>&nbsp;&nbsp;&nbsp;1.國內外大學以上畢業。
<br>&nbsp;&nbsp;&nbsp;2.具備詢比議價及談判能力。
<br>&nbsp;&nbsp;&nbsp;3.庫存控管、採購量計算。 
<br>&nbsp;&nbsp;&nbsp;4.熟 EXCEL操作及正航系統。                  
<br>&nbsp;&nbsp;&nbsp;5.具備餐飲或食品業工作經驗。
<br>&nbsp;&nbsp;&nbsp;6.其他主管交辦事項。</font>
<br>&nbsp;&nbsp;
<br>&nbsp;&nbsp;&nbsp;<b><font color = "#330000">要求條件</b>
<br>&nbsp;&nbsp;&nbsp;工作經驗: 不拘
<br>&nbsp;&nbsp;&nbsp;學歷限制:專科、大學
<br>&nbsp;&nbsp;&nbsp;科系限制:不拘</font></font>
<br>&nbsp;&nbsp;
 <div><p align="left" ><img src="static/333.png"width="30%"height="30%">
<br>

</html>