<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>未來的計劃</title>
</head>
<body background="static/66.jpg">
<div class="jumbotron text-center">
&nbsp;&nbsp;&nbsp;&nbsp;<b><font face = "DFKai-SB"><font size = "8"><CENTER><font color = "#330066">未來的計劃</font></font></CENTER></b>
</div>
</body>

 <div>  
  <br><p align="Center"><img src="static/44.jpg" width="50%"height="50%"></p>
  
  <h1>
   <font face = "DFKai-SB">  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size = "6"><font color = "#330066">
<br>&nbsp;&nbsp;&nbsp;1.因為我已經大四了，所以下學期的計畫就是，要去當實習生。
<br>&nbsp;&nbsp;&nbsp;2.我要報名英文課，為了增加自己的英文能力，同時也要繼續努力學中文。
<br>&nbsp;&nbsp;&nbsp;3.我一樣還是要參加志工社團，回到老人院，表演音樂給他們聽。</font></font>
</h1>
<div>

</html>